body {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

.container {
    background-color: white;
    padding: 40px;
    box-shadow: 5px 5px 5px 5px rgb(159, 156, 156);
}

input {
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
}

button {
    background-color: rgb(27, 9, 221);
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    border-style: none;
    border-radius: 5px;
    margin-top: 10px;
}

.tips-shower {
    font-weight: bold;
}

