body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    box-shadow: 5px 5px 5px 5px rgb(210, 205, 205);
    font-size: larger;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
    background: linear-gradient(to right, rgba(4, 4, 250, 0.8), rgba(244, 8, 8, 0.8));
    color: white;
}

p {
    font-size: 30px;
    font-weight: bolder;
}