body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 20px;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
}
.container {
    padding: 20px;
    box-shadow: rgb(205, 203, 203) 2px 2px 2px 2px;
}

input {
    padding: 5px 10px;
}

i {
    color: black;
    transition: transform 1s ease;
}

i:hover {
    transform: scale(1.1);
}

.password-container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: black 1px solid;
    border-radius: 5px;
}

#copyIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}

button {
    background-color: rgb(69, 69, 239);
    border: none;
    margin: 10px 0;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(69, 69, 239, 0.6);
    transition: all ease 0.5s;
} 

button:hover {
    transform: scale(1.1);
}
