body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
}
.container {
    padding: 20px;
    box-shadow: rgb(205, 203, 203) 2px 2px 2px 2px;
    text-align: center;
}

input {
    height: 20px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
}

#copyIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}

.planer p {
    display: none;
}

button {
    background-color: rgb(69, 69, 239);
    border: none;
    margin: 10px 0;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(69, 69, 239, 0.6);
    transition: all ease 0.5s;
} 

button:hover {
    transform: scale(1.1);
}